<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>
<body class="background-all">
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3><%= nombre %></h3>
		</div>	
		<div class="col-sm-3">
			<div id="ajax_anal_boton" class="btn btn-primary">Boton Anal de Aja</div>
		</div>
		<div class="col-sm-3">
			<h5 id="resultado_ajax"></h5>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div id="socket_yay_buton" class="btn btn-danger">boton socket_yay_buton</div>
		</div>
		<div class="col-sm-6">
			<h5 id="resultado_websockets_campo"></h5>
		</div>
	</div>	
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript"  src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/socketio_client.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
